@model Employee

@{
  
    ViewBag.Title = "Create Employee";
}
    

    <form action="Employees/CreateEmployee" method="post">
        
          Employee Name:<br>
           <input type="text" name="Name"><br>
           Email :<br>
           <input type="text" name="Email"><br><br>
           Department:<br>
           <input type="number" name="Department"><br><br>
           Town :<br>
           <input type="number" name="TownId"><br><br>

            <input type="submit" value="Submit">
        
    </form>