@model EmployeeDetailsViewmodel

@{

    ViewBag.Title = "Create Employee";
}


<h1 align="center">@ViewBag.Title</h1>

<form asp-controller="Employees" asp-action="CreateEmployee" method="post" class="">
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body text-center">
                    <div>
                        <label asp-for="Employee.Name">Name</label>
                        <input asp-for="Employee.Name" />
                    </div>
                    <div>
                        <label asp-for="Employee.Email">Email</label>
                        <input asp-for="Employee.Email" />
                    </div>
                    <div>
                        <label asp-for="Employee.TownId">TownId</label>
                        <input asp-for="Employee.TownId" />
                    </div>
                    <div>
                        <label asp-for="Employee.Department">Department</label>
                        <select asp-for="Employee.Department" asp-items="Html.GetEnumSelectList<Departament>()"></select>
                    </div>
                </div>
                <div align="center" class="card-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <a asp-controller="home" asp-action="index" class="btn btn-primary m-1 align-content-center">Back</a>
                </div>

            </div>
        </div>
    </div>

</form>

