@model IEnumerable<Employee>

@{ 
    ViewBag.Title = "Employees";
}

<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3> @item.Name</h3>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-primary">View</a>
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-primary">Create</a>
                    <a href="#" class="btn btn-danger">Delete</a>

                </div>
            </div>
        </div>
    }
</div>