<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://wwww.nlog-project.org/chemas/NLog.xsd"
      xmlns:xsi="http://wwww.w3.org/2001/XMLSchema-instance">
  
  <!-- targets to write to-->
  <targets>
    
    <!--write longs to file-->
    <target name ="allfile" xsi:type="File"
            filename="d:\AspProjectLogs\nlog-all-${shortage}.log"/>
  </targets>
  <!-- rules to map from logger nae to target-->
  <rules>
    <!--all logs, including from microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
  </rules>
</nlog>